{% extends 'mediCare/base.html' %}
{%block title%} Hospitals{%endblock%}
{% block content %}
    <article>
        <div  class="home">
            <h1>Hospitals</h1>
        </div>
        <div id="hosp">
            <div class="hospital">
                <span class="square"></span>
                <a href="https://www.pendahealth.com/" class="hospitals">Penda Health</a>
            </div>
            <div class="hospital">
                <span class="square"></span>
                <a href="https://hospitals.aku.edu/Pages/default.aspx" class="hospitals">The Aga Khan University Hospitals</a>
            </div>
            <div class="hospital">
                <span class="square"></span>
                <a href="https://coptichospitals.com/" class="hospitals">Coptic Hospitals</a>
            </div>
            <div class="hospital">
                <span class="square"></span>
                <a href="https://nairobiwesthospital.com/" class="hospitals">The Nairobi West Hospital</a>
            </div>
            <div class="hospital">
                <span class="square"></span>
                <a href="https://knh.or.ke/" class="hospitals">Kenyatta National Hospital</a>
            </div>
            <div class="hospital">
                <span class="square"></span>
                <a href="https://www.kutrrh.go.ke/" class="hospitals">Kenyatta University Teaching, Referral and Research Hospital</a>
            </div>
            <div class="hospital">
                <span class="square"></span>
                <a href="https://www.mater.ie/" class="hospitals">The Mater Hospital</a>
            </div>
        </div>
    </article>
    <footer>
        <div>
            <h1>Contact us on:</h1>
            <ul>
                <li>
                    <a href="https://instagram.com">
                        <ion-icon name="logo-instagram" class="logo"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com">
                        <ion-icon name="logo-twitter" class="logo"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://linkedin.com">
                        <ion-icon name="logo-linkedin" class="logo"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
{%endblock%}
