{% extends 'mediCare/base.html' %} 
{%block title%} Welcome {%endblock%}
{%block content%}
<article>
  <div class="home">
    <h1>Home</h1>
    <div class="icon">
      <span id="cart">
        <ion-icon name="cart-outline"></ion-icon>
      </span>
    </div>
  </div>
  <div>
    <p class="about">
      Welcome to Dr. Medic! This is an online platform where you can get all
      medical services in over 200 different hospitals, get your prescriptions
      delivered to you without having to travel back and forth and get picked up
      by an ambulance any time incase of an emergency. All you have to do is
      login to the website and choose the service that you need. Register with
      us today and make your work easier.
    </p>
    <div class="stats">
      <div class="statistics">
        <h2>100+</h2>
        <p>doctors</p>
      </div>
      <div class="statistics">
        <h2>200+</h2>
        <p>hospitals</p>
      </div>
      <div class="statistics">
        <h2>50+</h2>
        <p>ambulances</p>
      </div>
    </div>
    <div>
      <form>
        <h2>Patient's Details</h2>
        <input
          type="text"
          id="name"
          placeholder="Patient's Name"
          class="input-text"
        />
        <br />
        <input
          type="number"
          id="quantity"
          name="quantity"
          min="1"
          max="120"
          placeholder="Patient's Age"
          class="input-text"
        />
        <br />
        <input
          type="text"
          id="case"
          placeholder="Patient's Case"
          class="input-text"
        />
        <br />
        <input
          type="text"
          id="description"
          placeholder="Case Description"
          class="input-text"
        />
        <br />
        <input type="submit" id="submit" />
      </form>
    </div>
  </div>
</article>
{%endblock%}
