{% extends 'mediCare/base.html' %}
{%block title%} Login{%endblock%}
{% block content %}
<body class="whole">
    <div class="img-log">
        <div class="img_back">
            <small><b>Copyright owned by Dr. Medic</b></small>
        </div>
    </div>
    <div class="container">
        <div class="box-container">
            <div class="top-header">
                <h1>Have an account? Log in</h1>
            </div>
            <div class="input-text">
                <input type="text" class="input" placeholder="Username/Email" required>
            </div>
            <div class="input-text">
                <input type="password" class="input" placeholder="Password" required>
            </div>
            <div id="Log-in">
                <input type="Submit" id="Log-in" Value="Login">
            </div>
            <div class="button_link">
                <div class="left">
                    <input type="checkbox" id="check-box">
                    <label for="check-box">Remember Me</label>
                </div>
                <div>
                    <a href="#" class="pword">Forgot Password?</a>
                </div>
            </div>
            <br class="new_user">
                <p>New user?</p>
                <a href="#" class="signin__link">Sign up</a>
            </div>
        </div>
    </div>
</body>
{%endblock%}