{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="{%static 'js/signup.js'%}" defer></script>
    <title>Sign up</title>
</head>
<body id="whole">
    <div class="sign-up-box">
        <h1>Sign Up</h1>
        <h3>Welcome to Dr. Medic, create an account with us!</h3>
        <form id="signup-form">
            <div class="container_all">
                <div class="input_all">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="first_name" required>
                </div>
                <div class="input_all">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="last_name" required>
                </div>
                <div class="input_all">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input_all">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password1" required>
                </div>
                <div class="input_all">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password" name="password2" required>
                </div>
                <div>
                    <input type="Submit" id="sign-up" Value="Signup">
                </div>
            </div>
        </form>
    </div>
</body>

</html>